@import 'reset.css';
@import 'variables.css';
@import 'fonts.css';

.root {
  height: 100vh;
  overflow: auto;
  background: var(--color-bg-layout);

  --header-height: 46px;

  .panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-lg);
    padding: var(--padding-sm) var(--padding-lg);
    background: var(--color-bg-container);
    height: var(--header-height);
    border-bottom: 1px solid var(--gray-4);

    button {
      padding: 0;
      color: var(--color-link-active) !important;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--padding-lg) 64px;
    height: calc(100% - var(--header-height));
  }

  .page {
    min-height: 100%;
    padding: var(--padding-lg);
    background: var(--color-bg-container);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:has(.breadcrumbs nav) .header {
      padding-bottom: var(--padding);
    }
  }

  .breadcrumbs {
    &:has(nav) {
      padding-bottom: var(--padding-xs);
    }
  }

  .header {
    --customPadding: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--customPadding);

    h3 {
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: var(--padding-xs);
  }
}
