:root {
  --max-width: 1200px;

  --base-black: #000;
  --base-white: #fff;
  --link-color: #1FA46C;
  --grey-color: #999;
  --grey-background: #f4f5f6;

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing: 16px;
  --spacing-md: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  --box-shadow: 0 20px 67px -12px #00000021;
}
