:root {
  --max-width: 1200px;

  --base-black: #000;
  --base-white: #fff;
  --link-color: #1FA46C;
  --grey-color: #999;
  --grey-background: #f4f5f6;

  --padding-xxs: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding: 16px;
  --padding-md: 20px;
  --padding-lg: 24px;
  --padding-xl: 32px;

  --box-shadow: 0 20px 67px -12px #00000021;
}
