.main-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-xl);
  flex-grow: 1;
}

@media screen and (max-width: 1024px) {
  .main-page {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;

    section:first-of-type {
      order: 2;
    }

    section:last-of-type {
      order: 1;
    }
  }
}
