.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  background: var(--base-white);
  padding: var(--spacing);
  position: sticky;
  top: 0;
  z-index: 100;

  &-content {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .exit-btn {
    text-transform: none;
    color: var(--base-black);
    padding: var(--spacing-xxs);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
  margin-right: var(--spacing-xxl);

  .link {
    color: var(--base-black);
    text-decoration: none;
  }

  .link-active {
    font-weight: 600;
    padding-bottom: 2px;
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-color);
  }
}

.main {
  flex-grow: 1;
  background: var(--grey-background);
  padding: var(--spacing-xl) var(--spacing-lg);

  &-content {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .layout {
    height: auto;
  }

  .nav {
    margin: 0;
    gap: var(--spacing);
  }
}
