.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  background: var(--base-white);
  padding: var(--spacing);

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
    margin-right: var(--spacing-xxl);

    .link {
      color: var(--base-black);
      text-decoration: none;
    }

    .link-active {
      font-weight: 600;
      padding-bottom: 2px;
      color: var(--link-color);
      text-decoration: none;
      border-bottom: 1px solid var(--link-color);
    }
  }

  .exit-btn {
    text-transform: none;
    color: var(--base-black);
    padding: var(--spacing-xxs);
  }
}

.main {
  flex-grow: 1;
  background: var(--grey-background);
  padding: var(--spacing-xl) var(--spacing-lg);

  &-content {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
  }
}
