.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  background: var(--base-white);
  padding: 24px;

  &-content {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
  }
}

.main {
  flex-grow: 1;
  background: var(--grey-background);
  padding: 32px 24px;

  &-content {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
  }
}
