.table-widget {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-lg);
  padding: var(--spacing-xl) var(--spacing-xl) var(--spacing);

  .title {
    margin-right: auto;
  }

  .label {
    font-weight: 600;
    color: var(--link-color);
    border-bottom: 1px solid var(--link-color);
  }
}
